@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');
body{font-family: 'Montserrat', sans-serif;background-color: black;text-align: center;}
h4{ font-size: 50px;font-family: 'Montserrat black'; color:white; font-weight: 700;}
h1{font-size: 148px;font-family: 'Montserrat black'; color: black;font-weight: 700;} 
h2{ font-size: 163px;font-family: 'Montserrat black '; color:white ;font-weight: 700;}
h3{font-size: 45px;font-family: 'Montserrat black '; color: black;font-weight: 700;}
p{font-size: 44px;font-family: 'Montserrat black '; color: white;font-weight: 600;}

